**Analysis**

From the data below,the gender demographics show the Male population as the higher percentage of players as compared to the female polpulation. Out off the total number of players, 84% consist of the male poulation.

In [19]:
import pandas as pd
import numpy as np

In [20]:
# save file path to variable
file_to_load = "purchase_data.csv"

In [21]:
purchase_data_df= pd.read_csv(file_to_load)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [22]:
# Player Count
# Calculate the Total Number of Players

total_players = len(purchase_data_df["SN"].value_counts())

total_players

576

In [23]:
# Gender Demographics
# Calculate
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

gender_grouped = purchase_data_df.groupby("Gender")

unique_members = gender_grouped["SN"].nunique()
percentage_of_players = (unique_members/total_players) * 100

gender_demographics_df = ({"percentage of players": percentage_of_players})
df = pd.DataFrame(gender_demographics_df)

df

                       percentage of players
Gender
Female                             14.062500
Male                               84.027778
Other / Non-Disclosed               1.909722

In [ ]:
# Purchasing Analysis(Total)
# Calculate
# Number of Unique Items
# Average Purchase Price
# Total Number of Purchases
# Total Revenue

unique_items_count = len(purchase_data_df["Item ID"].unique())
average_price = purchase_data_df["Price"].mean()
number_purchases = purchase_data_df["Purchase ID"].count()
total_revenue = purchase_data_df["Price"].sum()

print(average_price)

summary_df = ({"unique items count":[unique_items_count],"average price":[average_price],"number purchases":[number_purchases],"total revenue":[total_revenue]})
df = pd.DataFrame(summary_df)
df["average price"]= df["average price"].map("${:,.2f}".format)

df

In [ ]:
# Age Demographics
# Calculate
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age Group



age_df = purchase_data_df.groupby("Age")
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 9999]
group_bin = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_df["age range"] = pd.cut(purchase_data_df["Age"], age_bins, labels = group_bin)
df = pd.DataFrame(purchase_data_df)
df["Price"]= df["Price"].map("${:,.2f}".format)

purchase_data_df

In [ ]:
# Purchasing Analysis(Gender)
# Calculate
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Gender

gender_stats = purchase_data_df.groupby("Gender")

purchase_count = gender_stats["Purchase ID"].count()

average_purchase_price = gender_stats["Price"].mean()
average_purchase_price

In [ ]:
average_purchase_total = gender_stats["Price"].sum()

average_purchase_per_person = average_purchase_total/total_count_gender

purchase_analysis_gender_df = ({"purchase count":purchase_count,"average purchase price":average_purchase_price,"average purchase total":average_purchase_total,"average purchase per person":average_purchase_per_person})

df = pd.DataFrame(purchase_analysis_gender_df)

df

In [ ]:
# Top Spenders
#Calculate
# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value


spender_stats = purchase_data_df.groupby("SN")

purchase_count_spender = spender_stats["Purchase ID"].count()

average_purchase_price_spender = spender_stats["Price"].mean()

purchase_total_spender = spender_stats["Price"].sum()


top_spenders_df =pd.DataFrame({"purchase count spender":purchase_count_spender,
                               "average purchase price spender":average_purchase_price_spender,
                               "purchase total spender":purchase_total_spender})

formatted_spender = top_spender.sort_values(["Total Purchase value"], ascending = false).head()



df = pd.DataFrame(top_spenders_df)

df["Average Purchase Total"]= df["Average Purchase Total"].map("${:,.2f}".format)

df["Average Purchase Price"]= df["Average Purchase Price"].map("${:,.2f}".format)

df["Total Purchase Value"]= df["Total Purchase Value"].map("${:,.2f}".format)


purchase_data_df

In [ ]:
# Most Popular Items
# Calculate
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value
popular_df = purchase_data_df.loc[:,["Item ID","Item Name","Price"]]
popular_grouped = purchase_data_df.groupby(["Item ID","Item Name"])

purchase_count = popular_grouped["Age"].count()
avg_purchase = popular_grouped["Price"].mean()
total_purchase_value = popular_grouped["Price"].sum()

most_popular_items = ({"Purchase count":purchase_count,"Average purchase Price":avg_purchase,"Total purchase value":total_purchase_value})

df = pd.DataFrame(most_popular_items)


df

In [ ]:
spender_stats = purchase_data_df.groupby("SN")

# Count the total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()

# Calculate the average purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()

# Calculate purchase total 
purchase_total_spender = spender_stats["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})